.statusCard
{
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 15px;
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  transition: all 1s;
  right: 60px;

}
.statusCard i {
  font-size: 30px;
  margin: 12px 10px 10px 19px;

}
.statusCard:hover
{

}
